* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
#root {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-content: center;
  position: relative;
  background: aqua;
}
#root .App img.wallpaper {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  opacity: 0.95;
}
.info {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.info .row {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}
.info .row span {
  height: 50px;
  border-radius: 5px;
  background: rgba(0, 255, 255, 0.3);
  display: grid;
  place-items: center;
  width: 33.33%;
  color: black;
  font-weight: 700;
  font-size: 1.4rem;
  box-shadow: 0 0 8px rgba(0, 255, 255, 0.3);
  position: relative;
}
.info .row span.empty {
  background: transparent;
  box-shadow: none;
}
.info p {
  width: 100%;
  text-align: center;
  padding: 5px;
}
.info .row span p {
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
  position: absolute;
  bottom: -2px;
}
.info .row span.space {
  width: 100%;
}
.info .row span.active {
  background: rgb(0, 255, 255);
}
.info .row span.disabled {
  filter: brightness(0.5);
}
.game {
  position: relative;
  position: absolute;
  width: 1000px;
  height: 700px;
  background: rgba(0, 0, 0, 0.436);
  z-index: 2;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 15px aqua;
  overflow: hidden;
}
.game .model {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
  z-index: 100;
}

.game .model.damaged {
  opacity: 0;
  box-shadow: inset 0 0 100px rgba(255, 0, 0, 0.3);
  z-index: 99;
}
.game .model-info {
  width: 400px;
  min-height: 200px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  gap: 20px;
  box-shadow: 0 0 5px rgba(0, 255, 255, 0.356);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 5px;
}
.game .model-info .h {
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 255, 255, 0.356);
}
.game .model-info button {
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 255, 255, 0.356);
  width: 90%;
}
.game .model-info button:hover {
  background: rgba(0, 255, 255, 0.356);
}
.game .wave-cleared-info-content .h span {
  color: aqua;
  text-shadow: 0 0 5px rgba(51, 211, 112, 0.884);
}
.game .UI {
  position: absolute;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  z-index: 99;
}
.game .UI.health {
  top: 20px;
  left: 20px;
  width: 327px;
  height: 40px;
  display: flex;
  background: rgba(0, 255, 255, 0.3);
  box-shadow: 0 0 5px rgba(0, 255, 255, 0.356);
  overflow: hidden;
  gap: 4px;
  transform: skewX(-8deg);
}

.game .UI.health .health-rectangle {
  height: 100%;
  width: 29px;
  background: aqua;
}

.game .UI.wave {
  top: 80px;
  left: 20px;
}
.game .UI.score {
  top: 110px;
  left: 20px;
}

img.ship-img {
  height: 100%;
  width: 100%;
}
img.ship-thruster-img {
  position: absolute;
  height: 40px;
  width: 21px;
  top: 60px;
  left: 10px;
  animation: thrusterAnim 150ms infinite ease-in-out;
}
.projectile-img {
  height: 20px;
  width: 8px;
  position: absolute;
  left: 0px;
}
img.enemy-ship-img {
  position: absolute;
  height: 100%;
  width: 100%;
  scale: 120%;
  z-index: 99;
}
img.ship-thruster-img.enemy {
  position: absolute;
  height: 70px;
  width: 40px;
  rotate: 180deg;
  top: -10px;
  left: 0;
  animation: thrusterAnim 150ms infinite linear;
  z-index: 97;
}

@keyframes thrusterAnim {
  0% {
    scale: 145%;
    opacity: 0.7;
  }
  10% {
    scale: 150%;
    opacity: 1;
  }
  20% {
    scale: 155%;
    opacity: 0.7;
  }
  30% {
    scale: 150%;
    opacity: 1;
  }
  40% {
    scale: 145%;
    opacity: 0.7;
  }
  50% {
    scale: 150%;
    opacity: 1;
  }
  60% {
    scale: 155%;
    opacity: 0.7;
  }
  70% {
    scale: 150%;
    opacity: 1;
  }

  80% {
    scale: 145%;
    opacity: 0.7;
  }
  90% {
    scale: 150%;
    opacity: 1;
  }
  100% {
    scale: 155%;
    opacity: 0.7;
  }
}
