@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
.hammersmithfont {
  font-family: 'Hammersmith One', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
#root {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-content: center;
  position: relative;
  background: aqua;
}
#root .App img.wallpaper {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  opacity: 0.95;
}
.info {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.info .row {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}
.info .row span {
  height: 50px;
  border-radius: 5px;
  background: rgba(0, 255, 255, 0.3);
  display: grid;
  place-items: center;
  width: 33.33%;
  color: black;
  font-weight: 700;
  font-size: 1.4rem;
  box-shadow: 0 0 8px rgba(0, 255, 255, 0.3);
  position: relative;
}
.info .row span.empty {
  background: transparent;
  box-shadow: none;
}
.info p {
  width: 100%;
  text-align: center;
  padding: 5px;
}
.info .row span p {
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
  position: absolute;
  bottom: -2px;
}
.info .row span.space {
  width: 100%;
}
.info .row span.active {
  background: rgb(0, 255, 255);
}
.info .row span.disabled {
  filter: brightness(0.5);
}
.game {
  position: relative;
  position: absolute;
  width: 1000px;
  height: 700px;

  z-index: 2;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 15px aqua;
  overflow: hidden;
}

.game .model {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
  z-index: 100;
}

.game .model.damaged {
  opacity: 0;
  box-shadow: inset 0 0 100px rgba(255, 0, 0, 0.3);
  z-index: 99;
}
.game .model-info {
  width: 400px;
  min-height: 200px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  gap: 20px;
  box-shadow: 0 0 5px rgba(0, 255, 255, 0.356);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 15px;
}
.game .model-info.shop {
  width: 600px;
  min-height: 400px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  gap: 20px;
  box-shadow: 0 0 5px rgba(0, 255, 255, 0.356);
  color: aliceblue;
  display: flex;
  justify-content: space-evenly;
  padding: 15px 15px;
}

.game .model-info .h1 {
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  text-align: center;
  padding: 8px;
  text-shadow: 0 0 5px rgba(0, 255, 255, 0.356);
  border-top: 1px solid rgba(0, 255, 255, 0.356);
  border-bottom: 1px solid rgba(0, 255, 255, 0.356);
}
.game .model-info .h {
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-shadow: 0 0 5px rgba(0, 255, 255, 0.356);
}
.game .model-info .h .wave-info-num {
  color: rgb(90, 178, 55);
  text-shadow: 0 0 5px rgba(51, 211, 112, 0.884);
}
.game .model-info button {
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 255, 255, 0.356);
  width: 100%;
}
.game .model-info button:hover {
  background: rgba(0, 255, 255, 0.356);
}
.game .wave-cleared-info-content .h span {
  color: aqua;
  text-shadow: 0 0 5px rgba(51, 211, 112, 0.884);
}

@keyframes thrusterAnim {
  0% {
    scale: 140%;
    opacity: 0.5;
    transform: scaleY(0.5);
  }
  10% {
    scale: 150%;
    opacity: 1;
    transform: scaleY(1);
  }
  20% {
    scale: 160%;
    opacity: 0.5;
    transform: scaleY(0.5);
  }
  30% {
    scale: 150%;
    opacity: 1;
    transform: scaleY(1);
  }
  40% {
    scale: 140%;
    opacity: 0.5;
    transform: scaleY(0.5);
  }
  50% {
    scale: 150%;
    opacity: 1;
    transform: scaleY(1);
  }
  60% {
    scale: 160%;
    opacity: 0.5;
    transform: scaleY(0.5);
  }
  70% {
    scale: 150%;
    opacity: 1;
    transform: scaleY(1);
  }

  80% {
    scale: 140%;
    opacity: 0.5;
    transform: scaleY(0.5);
  }
  90% {
    scale: 150%;
    opacity: 1;
    transform: scaleY(1);
  }
  100% {
    scale: 160%;
    opacity: 0.5;
    transform: scaleY(0.5);
  }
}

@keyframes oreShine {
  0% {
    filter: contrast(1.5) brightness(1.5) saturate(1.5)
      drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
  }
  50% {
    filter: contrast(1.5) brightness(1.5) saturate(1.5)
      drop-shadow(0 0 5px rgba(255, 255, 255, 0));
  }
  100% {
    filter: contrast(1.5) brightness(1.5) saturate(1.5)
      drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
  }
}
@keyframes oreRotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes missileTHRUST {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.5);
  }
  100% {
    transform: scaleY(2);
  }
}

img.game-bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  opacity: 0.9;
  filter: contrast(1) brightness(1) saturate(0.8) hue-rotate(20deg) blur(0px)
    sepia(0.3);
}
